* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

span {
    color: #fff;
}

.left-column {
    float: left;
    width: 75%;
}

.right-column {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.article-img {
    width: 100%;
}

.thumbnail {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.me-img {
    width: 100%;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* when the screen is less than 800px width,
 Make two columns stack on each other */
@media screen and (max-width: 800px) {
    .left-column, .right-column {
        width: 100%;
        padding: 0;
    }
}